/* ===common styles=== */
h1,h2,h3,h4,h5,h6,p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

body {
font-family: 'Roboto', sans-serif;
color: #434455;
background: #ffffff;
}
.container {
max-width: 1158px;
padding: 0 15px;
margin: 0 auto;
}

img {
  display: block;
}
/* ===/common styles=== */
/* ===page header styles=== */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.text-color {
  color: #2e2f42;
}

.logo:hover,
.logo:focus {
  color: #404bbf;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404BBF;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404BBF;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}


.nav-list {
  display: flex;
  gap: 40px;

}
.logo {
  margin-right: 76px;
}

.contacts-list {
display: flex;
gap: 40px;

}
/* ===/page header styles=== */
/* ===hero section styles=== */

.section-hero {
  background: #2e2f42;
  padding: 188px 0;
  max-width: 1440px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/hero/bg.jpeg);
  background-size: cover;
  margin-left: auto;
  margin-right: auto; 
  background-repeat: no-repeat;
  background-position: center;

}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin: auto;
}
.button-order {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-order:hover,
.button-order:focus {
  background: #404bbf;
}
.page-section-hero {
  max-width: 1440px;
  margin-left: 140px;
  margin-right: 140px;
}
/* ===/hero section styles=== */
/* ===benefits section styles=== */

.section-benefits {
  padding: 120px 0;
}

.benefits-item {
  width: calc((100% - 72px) / 4);
}

.benefits-icon {
  display: flex;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
justify-content: center;
align-items: center;
margin-bottom: 8px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  gap: 24px;
}
.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.benefits-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ===/benefits section styles=== */
/* ===team section styles=== */
.section-team {
  background: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-top: 32px;
  margin-bottom: 8px
}

.team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.social-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: row;
  
 
}
.social-item-icon {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-icon {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
  .social-icon {
  fill: #f4f4fd;
  }
  
.social-link-icon:hover,
.social-link-icon:focus {
  border-radius: 50%;
  background-color: #404bbf;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-position {
  padding: 32px 0;
}
/* ===/team section styles=== */
/* ===portfolio sectuion styles=== */

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-product {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 32px;
  margin-bottom: 8px;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-overlay {
position: relative;
overflow: hidden;
}
.portfolio-overlay-text {
position: absolute;
top: 0;
left: 0;
background-color: #4d5ae5;
color: #f4f4fd;
width: 100%;
height: 100%;
overflow: auto;
line-height: 1.5;
letter-spacing: 0.02em;
transform: translateY(100%);
transition: transform 250ms linear;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 40px 32px;
}

.portfolio-item:hover .portfolio-overlay-text {
  transform: translateY(0%);
 
}
.portfolio-item:hover,
.portfolio-item:focus {
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.section-portfolio-add {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* ===/portfolio sectuion styles=== */
/* ===footer styles=== */
.page-footer {
  background: #2e2f42;
  padding: 100px 0;
}

.container-footer {
  width: 1158px;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}
 .footer-one {
  width: 264px;
  margin-right: 120px;
 }

.footer-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo:hover,
.footer-logo:focus {
  color: #404bbf;
}
.fotter-text-color {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;

}
.footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.footer-list-icon {
display: flex;
align-items: baseline;
gap: 16px;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin-right: 80px;
}

.social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-social-item-icon {
  width: 40px;
  height: 40px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link-icon {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link-icon:hover,
.footer-social-link-icon:focus {
  border-radius: 50%;
  background-color: #31d0aa;
}
.footer-three {
  display: block;
  width: 453px;
  justify-content: center;
  align-items: row;
}
.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-subscribe-form {
  display: flex;
  gap:24px;
}
.footer-subscribe-input{
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-right: 24px;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-button {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  border: none;
}
.footer-button-icon {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  padding-left: 8px;
  margin-left: 16px;
}
/* ===footer styles=== */

/* ===backdrop styles=== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background:rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  position: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* ===/backdrop styles=== */

/* ===modal window styles=== */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px;
  padding-top: 72px;
  margin-bottom: 8px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: #e7e9fc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-button:hover,
.modal-close-button:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/* ===/modal window styles=== */


/* ===/review form styles=== */
.review-form-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;


}
.review-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-field-label {
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
  line-height: 1.17;
}
.review-form-field-wrapper {
  margin-bottom: 8px;
  margin-bottom: 16px
}
.review-form-input-wrapper {
  position: relative;
}
.review-form-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 18px;
  height: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.review-form-input:focus + .review-form-field-icon {
  fill: #4d5ae5;
  transition: fill 250ms linear;
}

.review-form-input:focus {
  border: 1px solid #4d5ae5;
  transition: border 250ms linear;
  outline: transparent;
}
.review-form-message {
  font-size: 12px;
  letter-spacing: 0.04em;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms linear;
  line-height: 1.17;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.review-form-checkbox-wrapper{
  margin-bottom: 24px;
}
.review-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.review-form-message:focus {
  border: 1px solid #4d5ae5;
  outline: transparent;
}
.review-form-checkbox-label {
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 1.17;
}
.privacy-policy-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  cursor: pointer;
}
.review-form-own-checkbox {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-privacy-checkbox:checked 
+ .review-form-checkbox-label
.review-form-own-checkbox {
 background-color: #404bbf;
 fill: #f4f4fd;
border: none;
}
.review-form-privacy-checkbox:focus 
+ .review-form-checkbox-label 
.review-form-own-checkbox {
  outline: 1px solid rgba(46, 47, 66, 0.4);
}

.review-form-submit-button {
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  padding: 16 32px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
line-height: 1.5;
letter-spacing: 0.04em;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
border: none;
}
.review-form-submit-button:hover,
.review-form-submit-button:focus {
  background-color: #404bbf;
}
/* ===/review form styles=== */